# -------- Build files --------
*.o
*.out
*.exe
*.a
*.so

# Compiled binaries (your executables)
flow1
flow4
greedy
greedypp
a.out
1_flow1
2_flow4
3_greedy
4_greedypp

# -------- Python --------
__pycache__/
*.pyc

# -------- OS junk --------
.DS_Store
Thumbs.db

# -------- Editor / IDE --------
.vscode/
.idea/
*.swp
*.swo

# -------- Logs --------
*.log

# -------- Misc --------
*.tmp

testcases/as-skitter.txt